@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

html,
body {
    margin: 0;
    padding: 0;
    /*background-color: #f0f4f8;*/
    font-family: Roboto, sans-serif;
    background: linear-gradient(#141e30, #243b55);
    height: 100vh;
}

.page-title {
    color: white;
    font-weight: bold;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.container {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container h1 {
    margin: 75px 0 40px 0;
}

.blocks {
    width: 50%;
    font-size: 14px;
}

.check-form {
    background-color: white;
    padding: 15px;
    margin: 1px;
}

.check-form:first-child {
    border-radius: 10px 10px 0 0;
}

.check-form:last-child {
    border-radius: 0 0 10px 10px;
}

.check-form label {
    margin-left: 10px;
}

.btn-primary {
    background-color: #2f80ed;
    border: 0;
    border-radius: 20px;
    box-shadow: none;
    padding: 7px 35px;
    font-size: 18px;
    color: white;
    margin: 20px 0;
}

.btn-primary:hover {
    cursor: pointer;
}

.generate-form {
    background-color: white;
    padding: 15px;
    margin: 50px 10px 10px;
    width: 45%;
    text-align: center;
    border-radius: 10px;
}

.uppercase {
    text-transform: uppercase;
    color: grey;
    font-size: 12px;
}

.flex-row {
    display: flex;
    justify-content: space-between;
}

#copy {
    user-select: none;
}

#copy:hover {
    cursor: pointer;
}

#symbols {
    margin-bottom: 10px;
}

#div-symbols {
    text-align: center;
}

#myLength {
    width: 40px;
}

#span-help, #div-help {
    padding-top: 5px;
    color: red;
    width: 100%;
    margin-left: 32px;
}

.bar {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    border: 1px solid rgba(142, 142, 142, 0.76);
    border-radius: 10px;
    height: 22px;
    box-shadow: 1px -1px 10px gray inset;
    margin-top: 5px;
}

.bar-1, .bar-2, .bar-3, .bar-4 {
    width: 25%;
    display: none;
}

.bar-text {
    padding-top: 4px;
    position: absolute;
    text-align: center;
    width: 100%;
    font-size: 0.69em;
    font-weight: bold;
    text-transform: capitalize;
}

.bar-1 {
    background: red;
    border-radius: 10px 0 0 10px;
}

.bar-2 {
    background: yellow;
}

.bar-3 {
    background: skyblue;
}

.bar-4 {
    background: green;
    border-radius: 0 10px 10px 0;
}

#input-password:focus {
    outline: none;
}

.password {
    margin: 25px 0;
    letter-spacing: 5px;
}

#span-password {
    display: block;
    overflow: hidden;
    padding: 0 5px 0 0;
}

.password-generator {
    font-size: 24px;
    text-align: center;
    border: 0 solid;
    padding: 5px;
    width: 100%;
    height: 60px;
}

.password-checker {
    padding: 5px;
    font-size: 16px;
    border-width: 1px;
    border-color: #CCCCCC;
    background-color: #FFFFFF;
    color: #000000;
    border-style: solid;
    border-radius: 6px;
    box-shadow: 0 0 5px rgba(66, 66, 66, .75);
    text-shadow: 0 0 5px rgba(66, 66, 66, .75);
    width: 80%;
    margin: 10px 0 30px 0;
}

.btn-home {
    position: absolute;
    top: 10px;
    left: 10px;
    text-align: right;
    cursor: pointer;
    width: 70px;
    height: 20px;
    font-size: 0.8em;
    border: 0 solid gray;
    border-radius: 15px;
    box-shadow: 1px 1px 5px rgba(66, 66, 66, .75);
    /* background-image: url('../icon/house.svg');
     background-repeat: no-repeat;
     padding-left: 20px;  !* width of the image plus a little extra padding *!
     display: block;  !* may not need this, but I've found I do *!*/
}

.btn-home:hover {
    border: 0;
    background-color: #60a2f7;
    box-shadow: 1px 1px 5px 3px rgba(109, 173, 248, 0.71);
}

.btn-home:before {
    position: absolute;
    content: url('../icon/house.svg');
    background: no-repeat;
    left: 4px;
    top: 2px;
}

@media screen and (max-width: 1280px) {
    .container {
        width: 75%;
    }
}

@media screen and (max-width: 768px) {
    .blocks {
        width: 100%;
    }

    .generate-form {
        width: 100%;
    }
}
.hidden-alert {
    background-color: #ffcccc;
    display: none;
    margin: 4px;
    border-radius: 8px;
    text-align: center;
}

/*//////////////////////// REGISTER //////////////////// */
html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: linear-gradient(#141e30, #243b55);
}

.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, .5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
}

.login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.login-box .user-box {
    position: relative;
}

.login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.login-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
}

.login-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px;
    border-radius: 15px;
}

.login-box a:hover {
    background: #03e9f4;
    color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 5px #03e9f4,
    0 0 15px #03e9f4,
    0 0 25px #03e9f4,
    0 0 45px #03e9f4;
}


.eye {
    position: absolute;
    top: 10px;
    right: 1px;
    content: url('../icon/eye.svg');
    background: no-repeat;
    filter: brightness(0) invert(1);;
}

/*//////////////////  INDEX  /////////////////*/

.btn-container {
    display: flex;
    flex-direction: row;
    top: 30%;
}

.btn {
    font-size: 1em;
    text-align: center;
    margin: 20px 0 0 20px;
    border-radius: 20px;
    height: 2.5em;
    width: 100px;
    border: 0;
    box-shadow: 1px 1px 5px rgba(66, 66, 66, .75);
    cursor: pointer;
    background-color: rgba(188, 222, 255, 0.76);
}

.btn:hover {
    border: 0;
    background-color: #60a2f7;
    box-shadow: 1px 1px 5px 3px rgba(109, 173, 248, 0.71);
}

.btn::after {
    position: absolute;
    margin-top: 50px;
    color: black;
    font-size: 1.5em;
    font-weight: bold;
    background-color: #2f80ed;
}

.readme {
    color: white;
    font-size: 1.1em;
    margin: 65px 0 0 30px;
    width: 90%;
    border: 1px solid #2f80ed;
    border-radius: 3px;
    padding-inline: 20px;
}

.readme h1, h2 {
    text-align: center;
    color: rebeccapurple;
    font-weight: bold;
}

p a {
    text-decoration: none;
    color: white;
}